body {
  background-color: #f8efd4;
  /* background-color: black; */
}

img.resize {
  width: 250px;
  /* you can use % */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.nav {
  color: #fff;
}

.heading {
  text-align: center;
  color:#1c2b2d;
  font-family: 'Shadows Into Light', cursive;
  margin-top: 20px;
}

.navFont {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}

.imgSize {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.carousel-item {
 
    background-color: #e5c5b5;
    margin-right: 10px;
    margin-left: 10px;

}
